body {
	padding: 20px 40px;
	color: #5a5a5a;
}

/* CUSTOMIZE THE NAVIGATION BAR */
.navbar{
	margin: 0 15px;
	padding: 10px 0;
}    

.navbar .nav li {
	padding: 2px;
}

.navbar .nav li a {
	padding: 10px 20px;
	font-weight: 500;
	font-size: 110%;
}

/* Customize the navigation bar dropdown menu */
.dropdown-menu li a {
    padding: 4px 20px;
}


/* GENERAL UTILITY */