body {
	padding: 20px 60px;
	color: #5a5a5a;
}

.logo {
	width: 150px;
	margin-bottom: 20px;
	float: left;
}

.footer {
	margin-top: 40px;
}

/* Between bootstrap's input xlarge and xxlarge */
.input-semi-large {
	width: 500px;
}

/* CUSTOMIZE NAVIGATION BAR */
.navbar{
	margin-top: 40px;
	padding: 10px 0;
}    

.navbar .nav li {
	padding: 2px;
}

.navbar .nav li a {
	padding: 10px 20px;
	font-weight: 500;
	font-size: 110%;
}

/* Customize the navigation bar dropdown menu */
.dropdown-menu li a {
    padding: 4px 20px;
}


/* CUSTOMIZE EVENT */

.event {
	margin-top: 40px;
}

.event img {
	width: 200px;
	height: 200px;
	text-align: left;
}

.event .name {
	font-size: 180%;
}

.event .host {
	font-size: 120%;
	margin-bottom: 20px;
}

.event .date {
	font-size: 120%;
}

.event .location {
	font-size: 120%;
}

.event .left {
	float: left;
	width: 42%;
	text-align: center;
}

.event .right{
	float: right;
	width: 58%
}